<a href="https://colab.research.google.com/github/MarianaMr06/Valores_nulos/blob/main/Actividad_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 3.2

In [2]:
#Carga de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Utilizar el nuevo repositorio con el nombre: Valores Nulos
#Agregar los archivos: Datos de Facturación.xlsx, Detalle precios y productos fabricados 2022.xslx y Gastos y costos 20-23.xslx
#Aplicar métodos para reemplazar valores nulos en cada columna de cada dataset
#Crear el archivo en Google Colab, respaldarlo en GitHub.
#Por cada columna describir cuales fueron las técnicas de tratamiento de valores nulos utilizadas para cada variable y agregar un archivo .csv final por cada dataset.
#Subir el link del repositorio en CANVAS para “Evaluación”

Carga y visualización de archivos

In [ ]:

from google.colab import files
files.upload()

In [15]:
facturacion = pd.read_excel("Datos de Facturación.xlsx")

In [ ]:
from google.colab import files
files.upload()

In [84]:
detalle = pd.read_excel("Detalle precios y productos fabricados 2022.xlsx")

## Datos de Facturación

Visualización

In [25]:
facturacion

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [34]:
facturacion.info

<bound method DataFrame.info of       CVE_DOC    CVE_CLPV STATUS  CVE_VEND               FECHAELAB  FECHA_DOC  \
0      F29414        2465      C       1.0 2019-09-03 08:58:42.000 2019-09-03
1      F29415        3926      C       1.0 2019-09-03 09:55:14.000 2019-09-03
2      F29416        3926      C       1.0 2019-09-03 13:25:33.000 2019-09-03
3      F29417        3926      C       1.0 2019-09-03 13:33:23.000 2019-09-03
4      F29418        6813      C       2.0 2019-09-03 14:23:45.000 2019-09-03
...       ...         ...    ...       ...                     ...        ...
10890  F40306        8842      E       2.0 2023-03-06 16:09:39.013 2023-03-06
10891  F40307        6218      N       2.0 2023-03-06 16:38:42.933 2023-03-06
10892  F00000        5926      E       2.0 2023-03-06 17:02:33.390 2023-03-06
10893  F40309         361      E       2.0 2023-03-07 12:43:49.567 2023-03-07
10894  F40310        3011      E       2.0 2023-03-07 12:45:58.407 2023-03-07

                 FECHA_ENT  FECHA_VEN FECHA_CANCELA  CAN_TOT  DES_TOT  DES_FIN
0      2019-09-03 00:00:00 2019-09-18    2019-09-04  3980.00      0.0      0.0
1      2019-09-03 00:00:00 2019-10-03    2019-09-03  1550.00      0.0      0.0
2      2019-09-03 00:00:00 2019-10-03    2019-09-03  1550.00      0.0      0.0
3      2019-09-03 00:00:00 2019-10-03    2019-09-17  1550.00      0.0      0.0
4      2019-09-03 00:00:00 2019-09-03    2019-09-10  2435.44      0.0      0.0
...                    ...        ...           ...      ...      ...      ...
10890  2023-03-01 00:00:00 2023-03-06           NaT  3272.00      0.0      0.0
10891  2023-03-06 00:00:00 2023-03-06           NaT   504.15      0.0      0.0
10892  2023-03-06 00:00:00 2023-03-06           NaT   275.68      0.0      0.0
10893  2023-03-07 00:00:00 2023-03-07           NaT   129.30      0.0      0.0
10894  2023-03-01 00:00:00 2023-03-07           NaT   517.20      0.0      0.0

[10895 rows x 12 columns]>

In [26]:
facturacion.isnull().sum()

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

In [27]:
facturacion.isnull().sum().sum()

10614

Limpieza

In [28]:
#Copiamos dataframe
facturacion2 = facturacion

Variables que vamos a cambiar:
  - CVE_DOC
  - STATUS
  - CVE_VEND
  - FECHAELAB
  - FECHA_DOC
  - FECHA_ENT
  - FECHA_CANCELA
  - CAN_TOT
  - DES_TOT
  - DES_FIN

In [35]:
#Clave única (Se les pone clave única para identificarlos como una nueva categoría)
  #CVE_DOC
  #STATUS
  #FECHA_CANCELA (Se cambió a "0000-00-00" para reconocer que no ha sido cancelada)
facturacion2["CVE_DOC"] = facturacion2["CVE_DOC"].fillna("F00000")
facturacion2["FECHA_CANCELA"] = facturacion2["FECHA_CANCELA"].fillna("0000-00-00")

In [29]:
#Vemos categorías de STATUS
facturacion2.groupby(["STATUS"])["STATUS"].count()

STATUS
C      358
E    10528
Name: STATUS, dtype: int64

In [31]:
#Solo hay C o E
#Nueva categoría N
facturacion2["STATUS"] = facturacion2["STATUS"].fillna("N")

In [36]:
#Verificamos
facturacion2.isnull().sum()

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        2
FECHA_DOC        1
FECHA_ENT        2
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          6
DES_TOT          1
DES_FIN          3
dtype: int64

In [37]:
#Backward Fill (Se pone la clave del vendedor anterior, se cree que es del mismo)
  #CVE_VEND
facturacion2["CVE_VEND"] = facturacion2["CVE_VEND"].fillna(method = "bfill")

In [38]:
#Verificamos
facturacion2.isnull().sum()

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        2
FECHA_DOC        1
FECHA_ENT        2
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          6
DES_TOT          1
DES_FIN          3
dtype: int64

In [40]:
#Forward Fill (Se pone la fecha del registro siguiente ya que van en ese orden ascendente)
  #FECHAELAB
  #FECHA_DOC
  #FECHA_ENT
facturacion2["FECHAELAB"] = facturacion2["FECHAELAB"].fillna(method = "ffill")
facturacion2["FECHA_DOC"] = facturacion2["FECHA_DOC"].fillna(method = "ffill")
facturacion2["FECHA_ENT"] = facturacion2["FECHA_ENT"].fillna(method = "ffill")

In [41]:
#Verificamos
facturacion2.isnull().sum()

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          6
DES_TOT          1
DES_FIN          3
dtype: int64

In [42]:
#Promedio
  #CAN_TOT (Promedio de la cantidad total de venta, para poner un valor medio)
facturacion2["CAN_TOT"] = facturacion2["CAN_TOT"].fillna(facturacion["CAN_TOT"].mean())

In [43]:
#Verificamos
facturacion2.isnull().sum()

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          0
DES_TOT          1
DES_FIN          3
dtype: int64

In [45]:
#Mediana (Se busca un valor medio para rellenar estas variables)
  #DES_TOT
  #DES_FIN
facturacion2["DES_TOT"] = facturacion2["DES_TOT"].fillna(facturacion["DES_TOT"].median())
facturacion2["DES_FIN"] = facturacion2["DES_FIN"].fillna(facturacion["DES_FIN"].median())

In [46]:
#Verificamos
facturacion2.isnull().sum()

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHAELAB        0
FECHA_DOC        0
FECHA_ENT        0
FECHA_VEN        0
FECHA_CANCELA    0
CAN_TOT          0
DES_TOT          0
DES_FIN          0
dtype: int64

In [47]:
#Verificamos todos
facturacion2.isnull().sum().sum()

0

## Detalle precios y productos fabricados 2022

Visualización

In [54]:
detalle

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1.0,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1.0,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7.0,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1.0,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2.0,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6.0,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6.0,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3.0,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1.0,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10.0,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [ ]:
detalle.info

In [ ]:
detalle.isnull().sum()

In [57]:
detalle.isnull().sum().sum()

33

Limpieza

In [85]:
#Copiamos el dataframe
detalle2 = detalle

Variables que vamos a limpiar
  - CVE_DOC
  - FECHA_DOC
  - NOMBRE_VENDEDOR
  - NOMBRE_CLIENTE
  - CANT
  - CVE_ART
  - DESCR
  - PRECIO_UNITARIO
  - COSTO_UNITARIO
  - COSTO_UNITARIO_CALCULADO
  - SUBTOTAL_PARTIDA

In [86]:
#Clave única (Se pone una clave única [en vendedor y cliente "desconocido"], para crear una nueva categoría de valores no conocidos)
  #CVE_DOC
  #NOMBRE_VENDEDOR
  #NOMBRE_CLIENTE
  #CVE_ART
  #DESCR
detalle2["CVE_DOC"] = detalle2["CVE_DOC"].fillna("F00000")
detalle2["NOMBRE_VENDEDOR"] = detalle2["NOMBRE_VENDEDOR"].fillna("DESCONOCIDO")
detalle2["NOMBRE_CLIENTE"] = detalle2["NOMBRE_CLIENTE"].fillna("DESCONOCIDO")
detalle2["CVE_ART"] = detalle2["CVE_ART"].fillna("N########")
detalle2["DESCR"] = detalle2["DESCR"].fillna("N#######")

In [88]:
#Verificamos
detalle2.isnull().sum()

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         7
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [96]:
#Backward Fill (Se pone la fecha del registro anterior para mantenerlas en orden por tiempo)
  #FECHA_DOC
detalle2["FECHA_DOC"] = detalle2["FECHA_DOC"].fillna(method = "ffill")

In [97]:
#Verificamos
detalle2.isnull().sum()

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [90]:
#Mediana (Se pone el valor medio de la columna para mantenerlo dentro del rango)
  #CANT
detalle2["CANT"] = detalle2["CANT"].fillna(detalle["CANT"].median())

In [91]:
#Verificamos
detalle2.isnull().sum()

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [93]:
#Media (Ya que son variables continuas, se pone un valor medio para cada columna dependiendo de su variabilidad)
  #PRECIO_UNITARIO
  #COSTO_UNITARIO
  #COSTO_UNITARIO_CALCULADO
  #SUBTOTAL_PARTIDA
columnas_rellenar_mean = ["PRECIO_UNITARIO", "COSTO_UNITARIO", "COSTO_UNITARIO_CALCULADO", "SUBTOTAL_PARTIDA"]
detalle2[columnas_rellenar_mean] = detalle2[columnas_rellenar_mean].fillna(detalle[columnas_rellenar_mean].mean())

In [94]:
#Verificamos
detalle2.isnull().sum()

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [98]:
#Verificamos Todo
detalle2.isnull().sum().sum()

0

Se pasan los archivos limpios a CSV

In [102]:
facturacion2.to_csv("Detalles de Facturación Limpio.csv")
detalle2.to_csv("Detalle precios y productos fabricados 2022 Limpio.csv")